* { box-sizing:border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activer, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.stx-card-relative {
  position: relative;
  width: 100%;
  max-width: 26rem;
  float: right;
}

.stx-card {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 2.5rem;
  background-color: #ecedf2;
}

.margin-top.margin-small {
  margin-top: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.margin-bottom.margin-medium {
  margin-bottom: 2rem;
}
.margin-bottom.margin-small {
  margin-bottom: 1rem;
}
.spacer-horizontal.color-lightgrey {
  background-color: #dedfe7;
}
.spacer-horizontal {
  width: 100%;
  height: 1px;
  background-color: #303236;
}
.stx-card-label {
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 100px;
  background-color: #fff;
  color: #000;
  font-size: 11px;
  line-height: 0.8rem;
  text-transform: uppercase;
}

.stx-card-label-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.stx-card-icon {
  width: 2rem;
  height: 2rem;
}

.stx-card-deco1 {
  position: absolute;
  left: -31%;
  top: 34%;
  right: auto;
  bottom: 2px;
  display: block;
  width: 40rem;
  opacity: 0.4;
}

.stx-card-deco2 {
  position: absolute;
  left: auto;
  top: -30%;
  right: -26%;
  bottom: auto;
  display: block;
  width: 40rem;
  opacity: 0.4;
}

.stx-price-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-horizontal .flex-center-izq {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading.heading-xlarge {
  font-size: 4rem;
  line-height: 5rem;
}

.heading {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: -0.04em;
}

.margin-bottom {
  margin: 0rem;
}

img {
  display: inline-block;
  max-width: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.stx-card-label {
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 100px;
  background-color: #fff;
  color: #000;
  font-size: 11px;
  line-height: 0.8rem;
  text-transform: uppercase;
}

.padding-vertical.padding-regular {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.flex-horizontal.justify-both {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-style-temp-note {
  margin-top: 20px;
  color: #999ca3;
  font-size: 14px;
}

.flex-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}